body {
  width: 100%;
  padding: 50px 70px;
   margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url("pic.jpg");
     font-size:1in
    

  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times',
  
    monospace;
}
